footer {
  background-color: lightgoldenrodyellow;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.navigation {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}
nav svg {
  width: 32px;
  height: 32px;
  stroke: #171515;
  fill: none;
  transition: stroke 0.3s ease, fill 0.3s ease;
}
svg:hover {
  stroke: #7a19cf;
  fill: #007bff;
}
