body {
}

.form-container {
  display: flex;

  justify-content: center;
  width: 50%;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid var(--black-light);
  border-radius: 5px;
}

.form-container__form-body {
  margin-bottom: 25px;
}

button {
  margin-top: 0.5rem;
  background-color: rgb(158, 160, 157);
  color: black;
  text-decoration: none;
  border-radius: 4px;
  border: 2px;
  text-align: center;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: left;
}
#tag {
  width: 99%;
}
