body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  display: flex;
}

header {
  background-color: aliceblue;
  padding: 1em;
  text-align: center;
}
h1 {
  text-align: center;
}
main {
  margin: 20px;
  box-sizing: content-box;
  padding: 20px;
  border: solid black;
  border-width: thin;
  overflow: auto;
  display: block;
  flex: 1;
}
