.question-cards__question-card {
  position: relative;
  background-color: lightgray;
  border: 1px solid black;
  text-align: center;
  padding: 20px;
  font-size: large;
  margin-bottom: 20px;
}

.question-cards__question-card__bookmark {
  position: absolute;
  top: -10px;
  right: 4px;
}

.question-cards__question-card__bookmark__button {
  background-image: url(../images/bookmark_transparent.png);
  width: 36px;
  height: 40px;
  background-color: transparent;
  border: transparent;
  background-size: 100%;
  background-repeat: no-repeat; /*for not repeating bg image */
}

.question-cards__question-card__bookmark__button--filled {
  background-image: url(../images/bookmark_filled.png);
  width: 36px;
  height: 40px;
  background-color: transparent;
  border: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
}

.question-cards__question-card__button {
  background-color: white;
  margin: 10px;
  border-radius: 20px;
  font-size: large;
}

.question-cards__question-card__button:hover {
  background-color: lightseagreen;
}

.question-cards__question-card__button--hidden {
  display: none;
}
.question-cards__question-card__tags {
  text-align: left;
  margin-top: 10px;
}

.question-cards__question-card__tags a {
  border: 1px solid;
  padding: 0.2em;
  color: black;
  text-decoration: none;
  margin: 0.2em;
}

.question-cards__question-card__answer {
  display: block;
}
.question-cards__question-card__answer--hidden {
  display: none;
}
